@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans), system-ui, sans-serif;
  overflow-x: hidden;
}

::selection {
  background: rgba(59, 130, 246, 0.5); /* Blue selection */
  color: white;
}
